.btn-fn{
    display: flex;
    justify-content: space-between;
}

.btn-homepage{
    display: flex;
    justify-content: flex-start;
}

.btn-homepage button{
    font-weight: 600;
    margin-right: 10px;
    margin-top: 17px;
    background-color: white;
    width: 100px;
    height: 40px;
    border-bottom: none;
    border-left: 3px solid #BDE3FF;
    border-right: 3px solid #BDE3FF;
    border-top: 3px solid #BDE3FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: opacity 0.3s, visibility 0.3s;
}

.btn-homepage .selected{
    background-color: #BDE3FF;
}

.btn-homepage button:hover,
.btn-homepage-add button:hover {
    background-color: #BDE3FF;
    transition: opacity 0.3s, visibility 0.3s;
}

.btn-homepage-add{
    display: flex;
    justify-content: flex-end;
}

.btn-homepage-add button{
    margin-top: 17px;
    background-color: white;
    width: 70px;
    height: 40px;
    border-bottom: none;
    border-left: 3px solid #BDE3FF;
    border-right: 3px solid #BDE3FF;
    border-top: 3px solid #BDE3FF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: opacity 0.3s, visibility 0.3s;
}

.home-page{
    padding: 50px 30px 70px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.items-Question{
    border: 17px solid #BDE3FF; 
    min-height: 500px;
    padding-top: 35px;
    text-align: center;
    
}
.cards{
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.cards:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.cards .title{
    min-height: 240px;

}
.card-footer{
    font-size: 12px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
p{
    color: black;
}
a{
    
    text-decoration: none;
}
.date{
    text-align: right;
}
@media (max-width: 430px) {
    .cards {
        margin-left: 0px;
        margin: auto;
        margin-bottom: 50px;
    }
}
