.home-page{
    padding: 50px 30px 70px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.btn-fn{
    text-align: center;
    /* padding: 0px 0px; */
}

.btn-fn button{
    margin: 0 30px;
    padding: 0 20px;
    background-color: #BDE3FF;
    font-size: 20px;
    margin-top: 50px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
}
.btn-fn button:hover{
    background-color: #7DACCE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s;
}
.items-Question{
    margin-top: 50px;
    border: 17px solid #BDE3FF; 
    min-height: 500px;
    padding: 20px;
    text-align: center;
    
}
.cards{
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.cards:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.cards .title{
    min-height: 240px;

}
.card-footer{
    font-size: 12px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
p{
    color: black;
}
a{
    
    text-decoration: none;
}
.date{
    text-align: right;
}
@media (max-width: 430px) {
    .cards {
        margin-left: 0px;
        margin: auto;
        margin-bottom: 50px;
    }
}